
  </div>
  <div class="footer">
    <footer class="p-3 text-bg-dark">
      <p class="text-center text-white"><em>Custom Web Designs</em></p>
      <p class="text-center text-white">2023 © All Rights Reserved</p>
    </footer>
  </div>

  </body>
</html>
