<%- include("partials/header") %>

<form class="form-signin" action="/register" method="post">
  <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
  <input
    type="text"
    id="name"
    name="name"
    class="form-control"
    placeholder="Full Name"
    required=""
    autofocus=""
    autocomplete="off"
  />
  <input
    type="text"
    id="username"
    name="username"
    class="form-control"
    placeholder="Username"
    required=""
    autofocus=""
    autocomplete="off"
  />
  <input
    type="email"
    id="email"
    name="email"
    class="form-control"
    placeholder="Email Address"
    required=""
    autofocus=""
    autocomplete="off"
  />
  <input
    type="password"
    id="password"
    name="password"
    class="form-control"
    placeholder="Password"
    required=""
  />
  <div class="checkbox mb-3"></div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Register
  </button>
</form>

<%- include("partials/footer") %>
