<%- include("partials/header") %>

<div class="message">
  <h1 class="cover-heading"><%= reg %> Successful!</h1>
  <p class="lead">
    <a href="/" class="btn btn-lg btn-primary"><%= log %></a>
  </p>
</div>

<%- include("partials/footer") %>
