* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
    text-align: center!important;
}

.main {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 2%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 10px;
}
